<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    <nav class="navbar">
        <a href="/" class="nav-brand">FitTrack</a>
        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/assignment/">Task Master</a>
            <a href="/workouts/">Workout Log</a>
            <a href="/workouts/stats/">Stats</a>
        </div>
    </nav>
    {% block body %}{% endblock %}
</body>
</html>